.language-switcher {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 2.5rem;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  z-index: 10;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #22bda2;
}

.icon {
  margin-right: 0.5rem;
}
